<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Recuperaci&oacute;n de contraseña</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/registro/css/stylePassword.css}">
<link
	href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap"
	rel="stylesheet">
<link th:href="@{/registro/js/jquery-ui.css}" rel="stylesheet">
<script src="https://kit.fontawesome.com/a81368914c.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<div class="container">
		<div class="img">
			<img th:src="@{/registro/img/logo.jpg}" />
		</div>
		<div class="login-content">
			<form name="form" method="POST" th:object="${credencial}"
				th:action="@{/authenticate/password}">
				<img th:src="@{/registro/img/logo.jpg}" class="circle">
				<h2 class="title">Cambia contrase&ntilde;a</h2>
				<div class="input-div pass">
					<div class="i">
						<i class="fas fa-lock"></i>
					</div>
					<div class="div">
						<h5 id="passwordTexto">Contraseña</h5>
						<input type="password" class="input" th:field="*{password}"
							required autofocus id="password">
							<div class="alert alert-danger" th:if="${errores!= null && errores.containsKey('password')}"
		  						th:text="${errores.password}"></div>
					</div>
				</div>
				<div class="input-div pass">
					<div class="i">
						<i class="fas fa-lock"></i>
					</div>
					<div class="div">
						<h5 id="confirmacionTexto">Confirmar contraseña</h5>
						<input type="password" class="input" th:field="*{confirmacion}"
							required autofocus id="confirmacion">
							<div class="alert alert-danger" th:if="${errores!= null && errores.containsKey('confirmacion')}"
		  						th:text="${errores.confirmacion}"></div>
					</div>
				</div>
				<input type="submit" class="btn" value="Validar">
				
				 
				<div th:if="${mensaje!=null}">
					<span th:text="${mensaje}" class="mensaje"> </span>
				</div>
			</form>

              

		</div>
	</div>

	<script type="text/javascript" th:src="@{/registro/js/jquery.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/registro/js/jquery-ui.min.js}"></script>

	<script type="text/javascript"
		th:src="@{/registro/js/datepicker-es.js}"></script>

	<script>
     
		
						$(function() {
							
							
							$("#password").focus();
							$("#confirmacion").focus();
						    
						    
						    $('#password').on('focus', function() {
								 $("#passwordTexto").hide();
						    });
						    $('#password').on('blur', function() {
						    	let valor = $('#password').val();
						    	if ( valor.trim() == '' ) {
						    		$("#passwordTexto").show();
						    	}
						    });
						    $( "#password" ).on( "click", function() {
						    	 $("#passwordTexto").hide();
						    } );
						    
						    
						    
						    
						    $('#confirmacion').on('focus', function() {
								 $("#confirmacionTexto").hide();
						    });
						    $('#confirmacion').on('blur', function() {
						    	let valor = $('#confirmacion').val();
						    	if ( valor.trim() == '' ) {
						    		$("#confirmacionTexto").show();
						    	}
						    });
						    $( "#confirmacion" ).on( "click", function() {
						    	 $("#confirmacionTexto").hide();
						    } );
						    
						    

						    
						    
						    
						    

})
					</script>

</body>
</html>